.container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
}

.grid-square {
    height: 43.75px;
    width: 43.75px;
}

.hovered-square {
    background-color: black;
}